mixin cta-form(formName, hint, inputClass, goal)
  .cta-form(class=attributes.class)
    .cta-form__container
      if block
        .cta-form__header
            block
      .cta-form__form
        form.js-form__ajax(action='php/send.php', method='POST', data-goal!=goal)
          <?php getUTM($utmLabels); ?>
          input(type='hidden', name='formname', value!=formName)
          .cta-form__item
            input.input(type='text',  name='name', placeholder='ИМЯ', class=inputClass)
          .cta-form__item
            input.input(type='tel',  name='phone', placeholder='ТЕЛЕФОН', class=inputClass)
          .cta-form__item.cta-form__item_button
            button.button Отправить
      if hint
        span.cta-form__hint Или просто наберите номер: #[span.cta-form__hint-delimiter]#[a(href='tel:+88001234567') 8 800 123 45 67]