include ./social

mixin employee-card(name, post, photo, social, button)
  .employee-card(class=attributes.class)
    .employee-card__photo
      img(src=photo, alt=name + ' ' + post)
    .employee-card__name!= name
    .employee-card__post!= post
      if button
        .employee-card__button
          a.button.button_size_1.js-popup__opener(href=button) Задать вопрос
    if block
      .employee-card__text
        block
    if social
      .employee-card__social
        +social({
          instagram: social.instagram,
          vkontakte: social.vkontakte,
          faceBook: social.faceBook
        })