mixin icon-side-card(num, heading)
  .icon-side-card(class=attributes.class)
    .icon-side-card__icon.icon-side-card__icon_left
    .icon-side-card__container
      span.icon-side-card__heading
        span.icon-side-card__num #{num}.&nbsp;
        != heading
      if block
        .icon-side-card__text.js-more__container
          block
    .icon-side-card__icon.icon-side-card__icon_right