mixin object-card(heading, days, authorAvatar, authorName, photos)
  .object-card
    .object-card__section.object-card__section_1
      .object-card__container
        span.object-card__heading!= heading
        span.object-card__label!= days
        .object-card__author
          span.object-card__avatar
            img(src=authorAvatar alt!=authorName)
          span.object-card__name!= authorName
        .object-card__text
          if block
            block
    .object-card__section.object-card__section_2
      .object-card__photos.js-popup__gallery
        if photos
          - for (var i = 0; i < photos.length; i++)
            .object-card__photo
              a.object-card__photo-link.js-popup__opener_image(href!=photos[i].src)
                img(src!=photos[i].thumbnail alt!=photos[i].name)