mixin photo-list-card(heading, photo)
  .photo-list-card(class=attributes.class)
    .photo-list-card__photo
      img(src!=photo, alt!=heading)
    .photo-list-card__content
      span.photo-list-card__heading!= heading
      .photo-list-card__text
        if block
          block