include ./cta-form

mixin popup(heading, formName, formGoal)
  .popup(id=attributes.id, class=attributes.class)
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading!= heading
      .popup__form
        +cta-form(formName, false, 'input_shadow_none input_background_grey', formGoal).cta-form_variant_popup
      .popup__hint Ваши персональные данные не будут#[br]переданы третьим лицам

