mixin social(social)
  if social
    .social
      ul.social__list
        if social.instagram
          li.social__item
            a.social__link.social__icon.social__icon_instagram(href=social.instagram, target='_blank') Instagram
        if social.vkontakte
          li.social__item
            a.social__link.social__icon.social__icon_vk(href=social.vkontakte, target='_blank') VKontakte
        if social.faceBook
          li.social__item
            a.social__link.social__icon.social__icon_fb(href=social.faceBook, target='_blank') FaceBook