/*----------------------------------------------------------------------------------------------------------------------
    addr
----------------------------------------------------------------------------------------------------------------------*/
.addr {
  color: $color-1;

  font-size: 24px;
  font-weight: 500;
  &:before {
    position: relative;

    display: inline-block;

    margin-right: 13px;

    content: '';
    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

a.addr {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.addr_variant_2 {
  display: block;

  text-align: center;

  font-size: 15px;

  @include breakpoint($screen-3) {
    font-size: 18px;
  }

  &:before {
    display: block;

    margin: 0 auto 12px;
    @include breakpoint($screen-2) {
      display: inline-block;
      vertical-align: middle;
      margin: auto 10px auto auto;
    }
    @include breakpoint($screen-3) {
      margin-right: 17px;
    }
  }
}

a.addr_underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.addr_mobile_none {
  font-size: 0;

  @include breakpoint($screen-2) {
    font-size: 24px;
  }
}

.addr_icon_phone {
  &:before {
    width: 25px;
    height: 25px;

    background-image: url('../img/addr-icon-phone-screen-1.png');

    @include breakpoint($screen-2) {
      margin-top: -10px;
    }
  }
}

.addr_icon_phone2 {
  &:before {
    width: 32px;
    height: 32px;

    background-image: url('../img/addr-icon-phone2-screen-1.png');
  }
}

.addr_icon_mail {
  &:before {
    width: 32px;
    height: 23px;

    background-image: url('../img/addr-icon-mail-screen-1.png');
  }
}

.addr_icon_marker {
  &:before {
    width: 25px;
    height: 34px;

    background-image: url('../img/addr-icon-marker-screen-1.png');
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /addr
----------------------------------------------------------------------------------------------------------------------*/
