/*----------------------------------------------------------------------------------------------------------------------
    button
----------------------------------------------------------------------------------------------------------------------*/
.button {
  display: inline-block;

  padding: 14px 1em;

  transition: all .15s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: .12em;
  text-transform: uppercase;

  color: $color-2;
  border: none;
  background-color: #006fdd;
  background-image: linear-gradient(to top, #006fdd 0%, #007ffe 100%);
  text-shadow: 1px 1px 2px $color-3;

  font-size: 13px;
  font-weight: 500;

  @include breakpoint($screen-2) {
    padding: 16.5px 1em;

    font-size: 12px;
  }
  @include breakpoint($screen-3) {
    letter-spacing: .14em;

    font-size: 14px;
  }
  &:hover {
    cursor: pointer;

    background-image: linear-gradient(to top, darken(#006fdd, 7.5) 0%, darken(#007ffe, 7.5) 100%);
  }
  &:active {
    background-image: linear-gradient(to top, darken(#006fdd, 10) 0%, darken(#007ffe, 10) 100%);
  }
}

.button_size_1 {
  padding: 9px 1em;

  font-size: 11px;
  line-height: 1;
}

.button_size_2 {
  @include breakpoint($screen-2) {
    padding: 19.5px 1em;

    font-size: 18px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /button
----------------------------------------------------------------------------------------------------------------------*/
