/*----------------------------------------------------------------------------------------------------------------------
    cta-form
----------------------------------------------------------------------------------------------------------------------*/
.cta-form {
  // TODO: сделать блюр
  position: relative;

  padding: 20px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, .24);

  @include breakpoint($screen-3) {
    padding: 30px;
  }
  &:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .75;
    background-color: #fff;
  }
}

.cta-form_variant_1 {
  padding: 0 20px;

  box-shadow: none;

  @include breakpoint($screen-3) {
    padding: 0;
  }
  &:after {
    display: none;
  }
}

.cta-form_variant_popup {
  padding: 0;

  @extend .cta-form_variant_1;
}

.cta-form__container {
  position: relative;
  z-index: 2;
}

.cta-form__header {
  margin-bottom: 10px;

  @include breakpoint($screen-2) {
    margin-bottom: 18px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 20px;
  }
  .cta-form_variant_1 & {
    margin-bottom: 20px;
    margin-left: -12px;

    @include breakpoint($screen-2) {
      margin-bottom: 26px;
      margin-left: -30px;
    }
  }
}

.cta-form__heading {
  display: block;

  font-family: $font-2;
  font-size: 17px;

  @include breakpoint($screen-2) {
    font-size: 23px;
  }
  @include breakpoint($screen-3) {
    font-size: 24px;
    font-weight: 900;
  }
}

.cta-form__form {
  @include breakpoint($screen-2) {
    text-align: center;

    font-size: 0;
  }
  @include breakpoint($screen-3) {
    text-align: left;
  }
  .cta-form_hint & {
    margin-bottom: 16px;

    @include breakpoint($screen-2) {
      margin-bottom: 24px;
    }
    @include breakpoint($screen-3) {
      margin-bottom: 28px;
    }
  }
}

.cta-form__item {
  margin-bottom: 15px;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 240px;
    margin-right: 14px;
    margin-bottom: auto;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    width: 250px;
    margin-right: 13px;
  }
  &:last-child {
    margin-bottom: auto;
  }
  & > * {
    width: 100%;
  }
  .cta-form_variant_popup & {
    @include breakpoint($screen-2) {
      display: block;

      width: auto;
      margin-right: auto;
      margin-bottom: 18px;
    }
  }
}

.cta-form__item_button {
  @include breakpoint($screen-2) {
    width: 150px;
  }
  @include breakpoint($screen-3) {
    width: 170px;
  }
  .cta-form_variant_popup & {
    @include breakpoint($screen-2) {
      width: auto;
    }
  }
}

.cta-form__hint {
  letter-spacing: .04em;

  font-size: 14px;

  @include breakpoint($screen-2) {
    font-size: 18px;
  }
  @include breakpoint($screen-3) {
    font-size: 21px;
  }
  a {
    text-decoration: none;

    color: inherit;

    font-family: $font-2;
    font-weight: 900;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cta-form__hint-delimiter {
  display: block;

  @include breakpoint($screen-2) {
    display: inline;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /cta-form
----------------------------------------------------------------------------------------------------------------------*/
