/*----------------------------------------------------------------------------------------------------------------------
    employee-card
----------------------------------------------------------------------------------------------------------------------*/
.employee-card {
  text-align: left;
}

.employee-card__photo {
  margin-bottom: 20px;

  @include breakpoint($screen-2) {
    margin-bottom: 30px;
  }
  img {
    display: block;

    width: 100%;
  }
}

.employee-card__name {
  display: block;

  margin-bottom: 6px;

  font-family: $font-2;
  font-size: 20px;
  font-weight: 900;

  @include breakpoint($screen-2) {
    margin-bottom: 14px;

    font-size: 24px;
  }
}

.employee-card__post {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;

  @include breakpoint($screen-2) {
    margin-bottom: 18px;

    font-size: 17px;
  }
  @include breakpoint($screen-3) {
    font-size: 16.25px;
  }
}

.employee-card__button {
  display: inline-block;

  margin-left: .25em;

  vertical-align: middle;
}

.employee-card__text {
  margin-bottom: 14px;

  font-size: 13px;

  @include breakpoint($screen-2) {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.75;
  }
  p {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: auto;
    }
  }
}

.employee-card__social {
}
/*----------------------------------------------------------------------------------------------------------------------
    /employee-card
----------------------------------------------------------------------------------------------------------------------*/
