/*----------------------------------------------------------------------------------------------------------------------
    footer
----------------------------------------------------------------------------------------------------------------------*/
.footer {
  @include breakpoint($screen-4) {
    padding: 50px 0;
  }
}

.footer__container {
  @include breakpoint($screen-2) {
    margin-bottom: -50px;

    text-align: center;

    font-size: 0;
  }
  @include breakpoint($screen-3) {
    margin-bottom: -45px;
  }
  @include breakpoint($screen-4) {
    margin-bottom: 40px;
  }
}

.footer__item {
  margin-bottom: 20px;

  @include breakpoint($screen-2) {
    display: inline-block;

    margin-right: 47px;
    margin-bottom: 50px;

    vertical-align: baseline;
  }
  @include breakpoint($screen-3) {
    margin-right: 55px;
    margin-bottom: 45px;
  }
  @include breakpoint($screen-4) {
    margin-right: 50px;
    margin-bottom: auto;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.footer__item_1 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;
  }
}

.footer__item_2 {
  @include breakpoint($screen-2) {
    display: none;
  }
  @include breakpoint($screen-3) {
    display: inline-block;
  }
}

.footer__item_3 {
}

.footer__item_4 {
  @include breakpoint($screen-2) {
    display: none;
  }
  @include breakpoint($screen-4) {
    display: inline-block;
  }
}

.footer__item_5 {
  @include breakpoint($screen-2) {
    margin-right: auto;
  }
}

.footer__item_6 {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.footer__item_7 {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.footer__item_8 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;
  }
  @include breakpoint($screen-3) {
    display: none;
  }
}

.footer__item_9 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;
  }
  @include breakpoint($screen-4) {
    display: none;
  }
}

.footer__item_10 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;

    margin-right: auto;
  }
  @include breakpoint($screen-4) {
    display: none;
  }
}


.footer__text {
  display: block;

  text-align: center;

  font-size: 13px;
  a.phone {
    text-decoration: none;

    color: inherit;

    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__footer {
  display: none;

  @include breakpoint($screen-4) {
    display: block;
  }
}

.footer__copyright {
  display: block;

  text-align: center;

  font-size: 13px;
  line-height: 1.5;
}

.footer__copyright-br {
  display: block;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: .25em;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /footer
----------------------------------------------------------------------------------------------------------------------*/
