/*----------------------------------------------------------------------------------------------------------------------
    header
----------------------------------------------------------------------------------------------------------------------*/
.header__holder {
  height: 98px;

  @include breakpoint($screen-2) {
    height: 108px;
  }
}

.header {
  height: 98px;
  padding: 20px 0;

  background-color: $color-2;

  font-size: 0;

  @include breakpoint($screen-2) {
    height: 108px;
  }
  &.fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;

    box-shadow: 0 2px 10px rgba(0, 0, 0, .23);
  }
}

.header__item {
  display: inline-block;

  vertical-align: middle;
}

.header__item_i_1 {
  margin-right: 34px;

  @include breakpoint($screen-2) {
    margin-right: 116px;
  }
  @include breakpoint($screen-3) {
    margin-right: 90px;
  }
  @include breakpoint($screen-4) {
    margin-right: 225px;
  }
}

.header__item_i_2 {
  margin-right: 7px;

  @include breakpoint($screen-2) {
    max-width: 225px;
    margin-right: 105px;
  }
  @include breakpoint($screen-3) {
    margin-right: 65px;
  }
}

.header__item_i_3 {
  display: none;

  @include breakpoint($screen-3) {
    display: inline-block;

    width: 219px;
    margin-right: 70px;
  }
  .button {
    width: 100%;
  }
}

.header__item_i_4 {
}
/*----------------------------------------------------------------------------------------------------------------------
    /header
----------------------------------------------------------------------------------------------------------------------*/
