/*----------------------------------------------------------------------------------------------------------------------
    heading
----------------------------------------------------------------------------------------------------------------------*/
.heading {
  position: relative;

  display: inline-block;

  padding-top: 10px;
  padding-left: 12px;

  text-align: left;

  @include breakpoint($screen-2) {
    padding-top: 35px;
    padding-left: 40px;
  }
  @include breakpoint($screen-3) {
    padding-top: 28px;
    padding-left: 38px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;

    content: '';

    background-image: url('../img/heading-screen-1.png');

    @include breakpoint($screen-2) {
      width: 69px;
      height: 69px;

      background-image: url('../img/heading-screen-2.png');
    }
  }
  & > *:last-child {
    margin-bottom: auto;
  }
}

.heading_size_1 {
}

.heading_size_2 {
  @include breakpoint($screen-2) {
    padding-top: 20px;
    padding-left: 30px;
  }
  &:before {
    @include breakpoint($screen-2) {
      width: 46px;
      height: 46px;

      background-image: url('../img/heading-size-2-screen-2.png');
    }
  }
}

.heading__h {
  display: block;

  margin-bottom: 12px;

  letter-spacing: .02em;

  font-family: $font-2;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;

  @include breakpoint($screen-2) {
    font-size: 38px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: auto;

    font-size: 46px;
  }

  .heading_size_1 & {
    font-size: 18px;
    line-height: 1.3;

    @include breakpoint($screen-2) {
      font-size: 33px;
    }
    @include breakpoint($screen-3) {
      font-size: 41px;
    }
    @include breakpoint($screen-4) {
      font-size: 42px;
    }

    small {
      font-size: 18px;
      line-height: 1.3;

      @include breakpoint($screen-2) {
        font-size: 28px;
      }
      @include breakpoint($screen-3) {
        font-size: 34px;
      }
      @include breakpoint($screen-4) {
        font-size: 34px;
      }
    }
  }
  .heading_size_2 & {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 1.3;

    @include breakpoint($screen-2) {
      margin-bottom: 0;

      font-size: 28px;
    }
    @include breakpoint($screen-3) {
      font-size: 32px;
    }
  }
  .heading_size_3 & {
    @include breakpoint($screen-2) {
      margin-bottom: 7px;
    }
  }
}

.heading__subh {
  display: block;

  letter-spacing: .04em;

  font-size: 15px;

  @include breakpoint($screen-2) {
    font-size: 28px;
  }
  @include breakpoint($screen-3) {
    font-size: 32px;
  }
  .heading_size_2 & {
    font-size: 14px;

    @include breakpoint($screen-2) {
      font-size: 18px;
    }
    @include breakpoint($screen-3) {
      font-size: 21px;
    }
  }
  .heading_size_3 & {
    @include breakpoint($screen-2) {
      font-size: 20px;
    }
    @include breakpoint($screen-3) {
      font-size: 24px;
    }
  }
}

.heading__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35;
  @include breakpoint($screen-2) {
    font-size: 16px;
  }
  @include breakpoint($screen-3) {
    font-size: 18px;
  }
  ul {
    margin: 1.5em 0 1em -15px;
    padding: 0;

    list-style-type: none;
    @include breakpoint($screen-2) {
      margin-left: 0;
    }
  }
  li {
    position: relative;

    margin-bottom: 1.2em;
    padding-left: 15px;
    @include breakpoint($screen-2) {
      padding-left: 20px;
    }
    &:before {
      position: absolute;
      top: .35em;
      left: 0;

      width: 7px;
      height: 7px;

      content: '';

      border-radius: 50%;
      background-color: #0064cb;
      box-shadow: 0 0 31.7px .3px rgba(255, 255, 255, .75);
      @include breakpoint($screen-2) {
        width: 9px;
        height: 9px;
      }
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------
    /heading
----------------------------------------------------------------------------------------------------------------------*/
