/*----------------------------------------------------------------------------------------------------------------------
    icon-side-card
----------------------------------------------------------------------------------------------------------------------*/
.icon-side-card {
  @include breakpoint($screen-2) {
    font-size: 0;
  }
}

.icon-side-card_side_left {
  @include breakpoint($screen-3) {
  }
}

.icon-side-card_side_right {
  @include breakpoint($screen-3) {
    padding-left: 45px;
  }
  @include breakpoint($screen-4) {
    padding-left: 0;
  }
}

$icon-side-card-icons: (
        img: (
                '../img/icon-side-card-1-screen-1.png',
                '../img/icon-side-card-2-screen-1.png',
                '../img/icon-side-card-3-screen-1.png',
                '../img/icon-side-card-4-screen-1.png',
                '../img/icon-side-card-5-screen-1.png',
                '../img/icon-side-card-6-screen-1.png',
                '../img/icon-side-card-7-screen-2.png',
                '../img/icon-side-card-8-screen-2.png',
                '../img/icon-side-card-9-screen-2.png',
                '../img/icon-side-card-10-screen-2.png',
                '../img/icon-side-card-11-screen-2.png',
                '../img/icon-side-card-12-screen-2.png'
        ),
        width: (
                70px,
                71px,
                80px,
                68px,
                70px,
                70px,

                95px * .75,
                91px * .75,
                81px * .75,
                100px * .75,
                114px * .75,
                93px * .75
        ),
        height: (
                70px,
                71px,
                66px,
                83px,
                70px,
                71px,

                95px * .75,
                91px * .75,
                99px * .75,
                73px * .75,
                94px * .75,
                93px * .75
        )
);
$icon-side-card-icons-screen-2: (
    img: (
        '../img/icon-side-card-1-screen-2.png',
        '../img/icon-side-card-2-screen-2.png',
        '../img/icon-side-card-3-screen-2.png',
        '../img/icon-side-card-4-screen-2.png',
        '../img/icon-side-card-5-screen-2.png',
        '../img/icon-side-card-6-screen-2.png',
        '../img/icon-side-card-7-screen-2.png',
        '../img/icon-side-card-8-screen-2.png',
        '../img/icon-side-card-9-screen-2.png',
        '../img/icon-side-card-10-screen-2.png',
        '../img/icon-side-card-11-screen-2.png',
        '../img/icon-side-card-12-screen-2.png'
    ),
    width: (
        100px,
        100px,
        107px,
        87px,
        100px,
        99px,

        95px,
        91px,
        81px,
        100px,
        114px,
        93px
    ),
    height: (
        100px,
        100px,
        89px,
        106px,
        100px,
        100px,

        95px,
        91px,
        99px,
        73px,
        94px,
        93px
    )
);

.icon-side-card__icon {
  margin-bottom: 15px;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 188px;
    margin-bottom: auto;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    width: 240px;
  }
  @include breakpoint($screen-4) {
    width: 290px;
  }

  &:before {
    display: block;

    content: '';

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @include breakpoint($screen-2) {
      margin: 0 auto;
    }
  }
  @for $i from 1 through 12 {
    .icon-side-card_icon_#{$i} & {
      &:before {
        width: nth(map-get($icon-side-card-icons, width), $i);
        height: nth(map-get($icon-side-card-icons, height), $i);

        background-image: url(nth(map-get($icon-side-card-icons, img), $i));
        @include breakpoint($screen-2) {
          width: nth(map-get($icon-side-card-icons-screen-2, width), $i);
          height: nth(map-get($icon-side-card-icons-screen-2, height), $i);

          background-image: url(nth(map-get($icon-side-card-icons-screen-2, img), $i));
        }
      }
    }
  }
}

.icon-side-card__icon_left {
  .icon-side-card_side_left & {
    @include breakpoint($screen-2) {
      display: inline-block;
    }
  }
  .icon-side-card_side_right & {
    @include breakpoint($screen-2) {
      display: none;
    }
  }
}

.icon-side-card__icon_right {
  display: none;
  .icon-side-card_side_left & {
    @include breakpoint($screen-2) {
      display: none;
    }
  }
  .icon-side-card_side_right & {
    @include breakpoint($screen-2) {
      display: inline-block;
    }
  }
}

.icon-side-card__container {
  @include breakpoint($screen-2) {
    display: inline-block;

    width: 530px;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    width: 640px;
  }
  @include breakpoint($screen-4) {
    width: 740px;
  }
}

.icon-side-card__num {
  font-weight: 900;
}

.icon-side-card__heading {
  display: block;

  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 500;

  @include breakpoint($screen-2) {
    font-size: 22px;
    line-height: 1.33;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 20px;

    font-size: 24px;
  }
}

.icon-side-card__text {
  font-size: 13px;

  @include breakpoint($screen-2) {
    font-size: 15px;
    line-height: 1.6;
  }
  @include breakpoint($screen-3) {
    font-size: 16px;
  }
}

.icon-side-card__list {
  overflow: hidden;

  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    display: block;

    margin-bottom: .25em;

    counter-increment: icon-side-card-list;

    @include breakpoint($screen-2) {
      display: inline-block;

      margin-right: 1.5em;
      margin-bottom: auto;
    }
    &:last-child {
      margin-bottom: auto;
    }
    &:before {
      content: counter(icon-side-card-list, lower-latin) '. ';

      font-weight: 900;
    }
  }
}

.icon-side-card__list_height_1 {
  height: 180px;

  &.active {
    height: 100%;
  }
}

.icon-side-card__list_display_inline {
}

.icon-side-card__list_display_block {
  li {
  }
}

.icon-side-card__more {
  margin-top: 1em;
}
/*----------------------------------------------------------------------------------------------------------------------
    /icon-side-card
----------------------------------------------------------------------------------------------------------------------*/
