/*----------------------------------------------------------------------------------------------------------------------
    input
----------------------------------------------------------------------------------------------------------------------*/
.input {
  display: inline-block;

  height: 46px;
  padding: 0 .75em;

  letter-spacing: .025em;

  color: $color-1;
  border: 1px solid transparent;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .36);

  font-family: $font-1;
  font-size: 14px;

  @include breakpoint($screen-2) {
    font-size: 16px;
  }
  @include input-placeholder {
    color: $color-1;
    opacity: 1;
  }
  &.error {
    color: #f00;
    border-color: #f00;

    @include input-placeholder {
      color: #f00;
    }
  }
}

.input_size_1 {
  @include breakpoint($screen-2) {
    height: 60px;
    font-size: 18px;
  }
}

.input_background_grey {
  background-color: $color-4;
}

.input_shadow_none {
  box-shadow: none;
}
/*----------------------------------------------------------------------------------------------------------------------
    /input
----------------------------------------------------------------------------------------------------------------------*/
