/*----------------------------------------------------------------------------------------------------------------------
    logo
----------------------------------------------------------------------------------------------------------------------*/
.logo {
  display: block;

  width: 168px;
  height: 58px;

  text-decoration: none;
  text-indent: -9999px;

  background: url('../img/logo-screen-1.png');

  @include breakpoint($screen-2) {
    background: url('../img/logo-screen-2.png');
    width: 195px;
    height: 68px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /logo
----------------------------------------------------------------------------------------------------------------------*/
