/*----------------------------------------------------------------------------------------------------------------------
    menu
----------------------------------------------------------------------------------------------------------------------*/
.menu {
  @include breakpoint($screen-2) {
    position: relative;
    .container {
      width: auto;
    }
  }
}

.menu__button {
  padding: 0;

  letter-spacing: .16em;
  text-transform: uppercase;

  border: none;
  background: none;

  font-size: 0;
  font-weight: 500;

  @include breakpoint($screen-2) {
    font-size: 14px;
  }

  &:before {
    display: inline-block;

    width: 25px;
    height: 18px;

    content: '';
    vertical-align: middle;

    background: url('../img/menu-screen-1.png') 50% 50% no-repeat;

    @include breakpoint($screen-2) {
      width: 16px;
      height: 12px;
      margin-right: 12px;

      background-image: url('../img/menu-screen-2.png');
    }
  }

  .active & {
    @include breakpoint($screen-2) {
      color: $color-8;
    }
    &:before {
      background-image: url('../img/menu-screen-1-active.png');

      @include breakpoint($screen-2) {
        background-image: url('../img/menu-screen-2-active.png');
      }
    }
  }
}

.menu__dropdown {
  position: absolute;
  z-index: 10;
  top: 97px;
  left: 0;

  visibility: hidden;

  width: 100%;
  padding: 45px 10px;

  transition: all .25s;
  transform: scale3d(1, 0, 1);
  transform-origin: 50% 0;

  opacity: 0;
  border: 1px solid #e4e4e4;
  border-right: none;
  border-left: none;
  background-color: $color-2;
  box-shadow: 0 9px 21px rgba(0, 0, 0, .23);

  @include breakpoint($screen-3) {
    min-width: 212px;
  }
  @include breakpoint($screen-2) {
    top: 50px;
    right: 0;
    left: auto;

    width: auto;
    padding: 40px 15px 15px;

    border: 1px solid #e4e4e4;
    &:before {
      position: absolute;
      z-index: 2;
      top: -12px;
      right: 20px;

      width: 0;
      height: 0;

      content: '';

      border-width: 0 11px 12px 11px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
    &:after {
      position: absolute;
      z-index: 1;
      top: -13px;
      right: 19px;

      width: 0;
      height: 0;

      content: '';

      border-width: 0 12px 13px 12px;
      border-style: solid;
      border-color: transparent transparent #e4e4e4 transparent;
    }
  }

  .active & {
    visibility: visible;

    transform: scale3d(1, 1, 1);

    opacity: 1;
  }
}

.menu__item {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.menu__item_i_1 {
}

.menu__item_i_2 {
  text-align: center;

  @include breakpoint($screen-2) {
    margin-bottom: auto;
  }

  .button {
    width: 240px;

    @include breakpoint($screen-3) {
      display: none;
    }
    @include breakpoint($screen-2) {
      width: 182px;
    }
  }
}

.menu__item_i_3 {
  text-align: center;

  @include breakpoint($screen-2) {
    display: none;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /menu
----------------------------------------------------------------------------------------------------------------------*/
