/*----------------------------------------------------------------------------------------------------------------------
    nav
----------------------------------------------------------------------------------------------------------------------*/
.nav {
  text-align: center;

  @include breakpoint($screen-2) {
    text-align: left;
  }
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @include breakpoint($screen-2) {
    padding-left: 24px;
  }
}

.nav__item {
  display: block;

  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.nav__link {
  text-decoration: underline;

  color: inherit;

  font-size: 15px;
  font-weight: 500;
  &:hover {
    text-decoration: none;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /nav
----------------------------------------------------------------------------------------------------------------------*/
