/*----------------------------------------------------------------------------------------------------------------------
    object-card
----------------------------------------------------------------------------------------------------------------------*/
.object-card {
  margin: 0 auto;

  background-color: $color-2;
  box-shadow: 0 1px 3px rgba(113, 132, 157, .36);

  @extend %clearfix;
}

.object-card__section {
}

.object-card__section_1 {
  @include breakpoint($screen-2) {
    float: left;

    width: 450px;
  }
  @include breakpoint($screen-3) {
    width: 570px;
  }
}

.object-card__section_2 {
  @include breakpoint($screen-2) {
    float: right;

    width: 270px;
  }
}

.object-card__container {
  padding: 24px 24px 0;

  @include breakpoint($screen-2) {
    padding: 52px 43px;
  }
}

.object-card__heading {
  display: block;

  margin-bottom: 20px;

  font-size: 16px;
  font-weight: 700;

  @include breakpoint($screen-2) {
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 1.44;
  }
  @include breakpoint($screen-3) {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

.object-card__label {
  position: relative;

  display: inline-block;

  height: 42px;
  margin-bottom: 26px;
  margin-left: -34px;
  padding: 0 1.5em 0 34px;

  color: $color-2;
  background-color: #006fdd;
  background-image: linear-gradient(to top, #006fdd 0%, #007ffe 100%);

  font-size: 16px;
  line-height: 42px;

  @include breakpoint($screen-2) {
    left: -18px;

    margin-bottom: 38px;
    padding-left: 50px;

    font-size: 18px;
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;

    content: '';

    border-width: 21px 12px 21px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
  }
}

.object-card__author {
  display: block;

  margin-bottom: 15px;

  font-size: 0;

  @include breakpoint($screen-2) {
    margin-bottom: 24px;
  }
}

.object-card__avatar {
  display: inline-block;
  overflow: hidden;

  width: 32px;
  height: 32px;
  margin-right: 10px;

  vertical-align: middle;

  @include breakpoint($screen-2) {
    width: 42px;
    height: 42px;
  }
  img {
    display: block;

    width: 100%;
    height: auto;
  }
}

.object-card__name {
  display: inline-block;

  vertical-align: middle;

  font-size: 16px;
  font-weight: 700;

  @include breakpoint($screen-2) {
    font-size: 21px;
  }
}

.object-card__text {
  display: block;

  margin-bottom: 20px;

  font-size: 13px;

  @include breakpoint($screen-2) {
    margin-bottom: auto;

    font-size: 16px;
    line-height: 1.625;
  }
  @include breakpoint($screen-3) {
    font-size: 18px;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin-bottom: auto;
    }
  }
}

.object-card__photos {
  text-align: center;

  font-size: 0;
}

.object-card__photo {
  display: inline-block;
  overflow: hidden;

  width: 92px;
  margin-right: 1px;

  @include breakpoint($screen-2) {
    display: block;

    width: auto;
    margin-right: auto;
    margin-bottom: 1px;
  }
  &:last-child {
    margin-right: auto;

    @include breakpoint($screen-2) {
      margin-bottom: auto;
    }
  }
  img {
    display: block;

    width: 100%;
    height: auto;
  }
}

.object-card__photo-link {
  display: block;
}

/*----------------------------------------------------------------------------------------------------------------------
    /object-card
----------------------------------------------------------------------------------------------------------------------*/
