/*----------------------------------------------------------------------------------------------------------------------
    photo-list-card
----------------------------------------------------------------------------------------------------------------------*/
.photo-list-card {
  @include breakpoint($screen-2) {
    position: relative;
  }
  &:after {
    @include breakpoint($screen-2) {
      position: absolute;
      z-index: 1;

      content: '';

      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.photo-list-card_border_1 {
  @include breakpoint($screen-2) {
    padding: 0 10px 62px 320px;
  }
  @include breakpoint($screen-3) {
    padding: 0 30px 62px 500px;
  }

  &:after {
    @include breakpoint($screen-2) {
      top: 35px;
      right: 88px;

      width: 413px;
      height: 475px;

      background-image: url('../img/photo-list-card-border-1.png');
    }
    @include breakpoint($screen-3) {
      top: 40px;
      right: 158px;

      width: 543px;
      height: 614px;

      background-image: url('../img/photo-list-card-border-1-screen-3.png');
    }
  }
}

.photo-list-card_border_2 {
  @include breakpoint($screen-2) {
    padding: 15px 400px 50px 50px;
  }
  @include breakpoint($screen-3) {
    padding: 15px 550px 60px 90px;
  }
  &:after {
    @include breakpoint($screen-2) {
      top: 50px;
      left: 0;

      width: 493px;
      height: 207px;

      background-image: url('../img/photo-list-card-border-2.png');
    }
    @include breakpoint($screen-3) {
      top: 60px;
      left: 10px;

      width: 563px;
      height: 257px;

      background-image: url('../img/photo-list-card-border-2-screen-3.png');
    }
  }
}

.photo-list-card__photo {
  width: 320px;
  margin-bottom: 20px;
  margin-left: -20px;

  @include breakpoint($screen-2) {
    position: absolute;
    z-index: 2;

    margin-bottom: auto;
    margin-left: auto;
  }
  img {
    display: block;

    width: 100%;
    height: auto;
  }

  .photo-list-card_border_1 & {
    @include breakpoint($screen-2) {
      top: 10px;
      left: -24px;

      width: 330px;
    }
    @include breakpoint($screen-3) {
      left: -48px;

      width: 500px;
    }
  }
  .photo-list-card_border_2 & {
    @include breakpoint($screen-2) {
      top: 10px;
      right: -50px;

      width: 440px;
    }
    @include breakpoint($screen-3) {
      right: -48px;

      width: 580px;
    }
  }
}

.photo-list-card {
}

.photo-list-card__content {
  padding: 0 20px;

  @include breakpoint($screen-2) {
    position: relative;
    z-index: 3;

    padding: 0;
  }
}

.photo-list-card__heading {
  display: block;

  margin-bottom: 20px;

  color: $color-8;

  font-size: 46px;
  font-weight: 100;

  @include breakpoint($screen-2) {
    margin-bottom: 30px;

    letter-spacing: .04em;

    font-size: 54px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 32px;

    font-size: 62px;
  }
}

.photo-list-card__text {
  font-size: 13px;
  font-weight: 500;

  @include breakpoint($screen-2) {
    font-size: 15px;
    line-height: 1.45;
  }
  @include breakpoint($screen-3) {
    font-size: 21px;
  }
  ol {
    margin: 0;
    padding: 0;

    list-style-position: inside;
    list-style-type: decimal;
  }
  li {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: auto;
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------
    /photo-list-card
----------------------------------------------------------------------------------------------------------------------*/
