/*----------------------------------------------------------------------------------------------------------------------
    popup
----------------------------------------------------------------------------------------------------------------------*/
.popup__hide {
  display: none;
}

.popup {
  position: relative;

  width: 300px;
  margin: 25px auto;
  padding: 30px;

  background-color: #fafafa;
  box-shadow: 0 8px 32px rgba(23, 29, 79, .6);

  @include breakpoint($screen-2) {
    width: 340px;
    padding: 40px;
  }
}

.popup_info {
  @include breakpoint($screen-4) {
    width: 1000px;
  }
  @include breakpoint($screen-3) {
    width: 900px;
  }
  @include breakpoint($screen-2) {
    width: 640px;
  }
}

.popup__close {
  position: absolute;
  top: -16px;
  right: 0;

  width: 11px;
  height: 11px;

  opacity: .75;
  background: url('../img/close.png') 50% 50% no-repeat;

  @include breakpoint($screen-2) {
    top: 0;
    right: -26px;
  }
  &:hover {
    cursor: pointer;

    opacity: 1;
  }
}

.popup__container {
}

.popup__heading {
  display: block;

  margin-bottom: 25px;

  text-align: center;

  font-family: $font-2;
  font-size: 30px;
  font-weight: 700;

  .popup_info & {
    font-size: 22px;
  }
}

.popup__form {
  margin-bottom: 20px;
}

.popup__hint {
  display: block;

  text-align: center;

  font-size: 12px;
  font-weight: 500;
}

.popup__text {
  display: block;

  text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------
    /popup
----------------------------------------------------------------------------------------------------------------------*/
