/*----------------------------------------------------------------------------------------------------------------------
    section
----------------------------------------------------------------------------------------------------------------------*/
.section {
  padding: 30px 0;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @include breakpoint($screen-2) {
    padding: 50px 0;
  }
  @include breakpoint($screen-3) {
    padding: 75px 0;
  }
}

.section_background_grey {
  background-color: $color-7;
}

.section__heading {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 45px;
    padding: 0 10px;
  }
  @include breakpoint($screen-3) {
    text-align: center;
  }
  @include breakpoint($screen-4) {
    padding: 0;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /section
----------------------------------------------------------------------------------------------------------------------*/
