/*----------------------------------------------------------------------------------------------------------------------
    select
----------------------------------------------------------------------------------------------------------------------*/
.select {
  padding: 0 12% 0 1em;

  letter-spacing: .005em;

  outline: none;
  background: url('../img/select-screen-1.png') 96% 50% no-repeat;
  background-color: #fff;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none !important;
  @extend .input;
  &:hover {
    cursor: pointer;
  }
}

.select_size_1 {
  @extend .input_size_1;
}
/*----------------------------------------------------------------------------------------------------------------------
    /select
----------------------------------------------------------------------------------------------------------------------*/
