/*----------------------------------------------------------------------------------------------------------------------
    slider
----------------------------------------------------------------------------------------------------------------------*/
.slider {
  @include breakpoint($screen-3) {
    position: relative;
  }
}

.slider__list {
  width: 300px;
  margin-bottom: 10px;
  margin-left: -10px;
  padding: 10px 0;

  @include breakpoint($screen-2) {
    width: 740px;
    margin-bottom: 20px;
  }
  @include breakpoint($screen-3) {
    position: relative;
    z-index: 2;

    width: 860px;
    margin: 0 auto;
  }
}

.slider__slide {
  width: 280px;
  margin: 0 20px;

  outline: none;

  @include breakpoint($screen-2) {
    width: 720px;
    margin: 0 50px;
  }
  @include breakpoint($screen-3) {
    width: 840px;
  }
}

.slider__navs {
  position: relative;

  width: 100%;
  height: 45px;

  @include breakpoint($screen-3) {
    position: absolute;
    z-index: 1;
    top: 50%;

    height: 45px;
    margin-top: -22.5px;

    font-size: 0;
  }
}

.slider__nav {
  position: absolute;

  height: 45px;

  color: $color-5;

  line-height: 45px;
  &:before {
    position: absolute;
    top: 50%;

    width: 47px;
    height: 9px;
    margin-top: -3.5px;

    content: '';
    transition: transform .25s;

    background-repeat: no-repeat;

    @include breakpoint($screen-2) {
      width: 45px;
    }
  }
  &:after {
    position: absolute;

    width: 26px;
    height: 45px;

    content: '';

    border: 3px solid $color-5;
  }
  &:hover {
    cursor: pointer;
  }
}

.slider__nav_prev {
  left: 0;

  padding-left: 45px;

  @include breakpoint($screen-2) {
    padding-left: 60px;
  }
  &:before {
    left: 8px;

    background-image: url('../img/arrow-left.png');
    background-position: 0 50%;
  }
  &:after {
    left: 0;
  }
  &:hover:before {
    transform: translate3d(-5px, 0, 0);
  }
}

.slider__nav_next {
  right: 0;

  padding-right: 45px;

  @include breakpoint($screen-2) {
    padding-right: 60px;
  }
  &:before {
    right: 8px;

    background-image: url('../img/arrow-right.png');
    background-position: 100% 50%;
  }
  &:after {
    right: 0;
  }
  &:hover:before {
    transform: translate3d(5px, 0, 0);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slider
----------------------------------------------------------------------------------------------------------------------*/
