/*----------------------------------------------------------------------------------------------------------------------
    social
----------------------------------------------------------------------------------------------------------------------*/
.social {
}

.social__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  font-size: 0;
}

.social__item {
  display: inline-block;

  margin-right: 10px;
  &:last-child {
    margin-right: auto;
  }
}

.social__link {
  color: #7d91ad;
  &:hover {
    color: $color-1;
  }
}

.social__icon {
  &:before {
    display: inline-block;

    content: '';
    vertical-align: middle;

    color: inherit;

    font-family: $font-3;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
  }
}

.social__icon_instagram {
  &:before {
    content: '\f16d';
  }
}

.social__icon_vk {
  &:before {
    content: '\f189';
  }
}

.social__icon_fb {
  &:before {
    content: '\f230';
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /social
----------------------------------------------------------------------------------------------------------------------*/
