/*----------------------------------------------------------------------------------------------------------------------
    steps-form
----------------------------------------------------------------------------------------------------------------------*/
.steps-form {
}

.steps-form__heading {
  display: block;

  margin-bottom: 18px;

  text-align: center;

  @include breakpoint($screen-2) {
    margin-bottom: 25px;
  }
}

.steps-form__h {
  font-family: $font-2;
  font-size: 18px;
  font-weight: 900;

  @include breakpoint($screen-2) {
    font-size: 24px;
  }
}

.steps-form__h_1 {
  font-size: 15px;

  @include breakpoint($screen-2) {
    font-size: 22px;
  }
}

.steps-form__form {
  @include breakpoint($screen-2) {
    text-align: center;

    font-size: 0;
  }
}

.steps-form__tab {
  display: none;
}

.steps-form__col {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 47%;
    margin-right: 16px;

    vertical-align: top;
  }
  @include breakpoint($screen-3) {
    display: none;
  }
  &:last-child {
    margin-right: auto;
  }
  .steps-form__form-item {
    @include breakpoint($screen-2) {
      margin-right: auto;
    }
  }
}

.steps-form__col_width_full {
  display: block;

  width: 100%;

  text-align: left;
}

.steps-form__col_left {
  text-align: right;
}

.steps-form__col_right {
  text-align: left;
}

.steps-form__section {
  @include breakpoint($screen-2) {
    display: none;
  }
  @include breakpoint($screen-3) {
    display: block;
  }
}

.steps-form__form-item {
  margin-bottom: 15px;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 360px;
    margin-right: 20px;
    margin-bottom: 20px;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 45px;
  }
  & > * {
    width: 100%;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      margin-right: auto;
      margin-bottom: 20px;
    }
    @include breakpoint($screen-3) {
      margin-bottom: 45px;
    }
  }
}

.steps-form__form-item_2_1 {
}

.steps-form__form-item_2_2 {
  width: auto;
}

.steps-form__form-item_2_3 {
  width: auto;

  @include breakpoint($screen-2) {
    width: 234px;
  }
}

.steps-form__form-item_2_4 {
  width: auto;

  @include breakpoint($screen-2) {
    width: 220px;
  }
}

.steps-form__form-item_button_1 {
  width: 183px;
}

.steps-form__form-item_button_2 {
  width: 134px;
}

.steps-form__form-item_button_3 {
  width: 180px;
}
/*----------------------------------------------------------------------------------------------------------------------
    /steps-form
----------------------------------------------------------------------------------------------------------------------*/
