/*----------------------------------------------------------------------------------------------------------------------
    tab
----------------------------------------------------------------------------------------------------------------------*/
.tab {
  position: relative;

  display: inline-block;

  height: 24px;
  padding: 0 .25em 0 .5em;

  text-decoration: none;
  letter-spacing: .14em;
  text-transform: uppercase;

  color: $color-1;

  font-size: 11px;
  font-weight: 700;
  line-height: 24px;

  @include breakpoint($screen-2) {
    height: 30px;
    padding: 0 .5em 0 .75em;

    font-size: 14px;
    line-height: 30px;
  }


  &.active {
    color: $color-2;
    background-color: $color-5;
    &:after {
      position: absolute;
      top: 0;
      right: -12px;

      width: 0;
      height: 0;

      content: '';

      border-width: 12px 0 12px 12px;
      border-style: solid;
      border-color: transparent transparent transparent $color-5;

      @include breakpoint($screen-2) {
        right: -12px;

        border-width: 15px 0 15px 12px;
      }
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /tab
----------------------------------------------------------------------------------------------------------------------*/
