/*----------------------------------------------------------------------------------------------------------------------
    uikit
----------------------------------------------------------------------------------------------------------------------*/
.uikit {
}

.uikit__section {
  padding: 3em 0;
}

.uikit__heading {
  margin-bottom: 1.5em;
}

.uikit__comments {
  padding: 1em;
}

.uikit__example {
  margin-bottom: 1em;
  padding: 1em 0;

  border: 2px dashed $color-1;
  border-right: none;
  border-left: none;
}
/*----------------------------------------------------------------------------------------------------------------------
    /uikit
----------------------------------------------------------------------------------------------------------------------*/
