/*----------------------------------------------------------------------------------------------------------------------
    slide-5
----------------------------------------------------------------------------------------------------------------------*/
.slide-5 {
}

.slide-5__heading {
  @include breakpoint($screen-2) {
    text-align: center;
  }
}

.slide-5__container {
  text-align: center;

  font-size: 0;

  @include breakpoint($screen-2) {
    margin-bottom: -60px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: -88px;
  }
}

.slide-5__item {
  margin-bottom: 40px;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 300px;
    margin-right: 60px;
    margin-bottom: 60px;

    vertical-align: top;
  }
  @include breakpoint($screen-3) {
    width: 290px;
    margin-right: 50px;
    margin-bottom: 88px;
  }
  @include breakpoint($screen-4) {
    width: 300px;
    margin-right: 89px;
  }
  &:nth-child(2n) {
    @include breakpoint($screen-2) {
      margin-right: auto;
    }
    @include breakpoint($screen-3) {
      margin-right: 57px;
    }
    @include breakpoint($screen-4) {
      margin-right: 89px;
    }
  }
  &:nth-child(3n) {
    @include breakpoint($screen-3) {
      margin-right: auto;
    }
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      margin-bottom: 60px;
    }
    @include breakpoint($screen-3) {
      margin-bottom: 88px;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-5
----------------------------------------------------------------------------------------------------------------------*/
