/*----------------------------------------------------------------------------------------------------------------------
    slide-7
----------------------------------------------------------------------------------------------------------------------*/
.slide-7 {
}

.slide-7__map {
  height: 400px;

  @include breakpoint($screen-2) {
    height: 440px;
  }
  @include breakpoint($screen-3) {
    height: 530px;
  }
}

.slide-7__form {
  padding: 30px 0;

  @include breakpoint($screen-2) {
    padding: 40px 0;
  }
  @include breakpoint($screen-3) {
    width: 720px;
    margin: 0 auto;
    padding: 85px 0;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-7
----------------------------------------------------------------------------------------------------------------------*/
