/*----------------------------------------------------------------------------------------------------------------------
    slide-2
----------------------------------------------------------------------------------------------------------------------*/
.slide-2 {
  a {
    @include breakpoint($screen-2) {
      font-weight: 500;
    }
  }
}

.slide-2__heading {
  @include breakpoint($screen-2) {
    margin-bottom: 80px;
    padding-left: 60px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 110px;
    padding-left: 0;

    text-align: center;
  }
}

.slide-2__container {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 60px;
  }
}

.slide-2__container_height_1 {
  overflow: hidden;

  height: 1630px;

  transition: height .25s;

  @include breakpoint($screen-2) {
    height: 1560px;
  }
  @include breakpoint($screen-3) {
    //height: 1540px;
    height: 1670px;
  }
  @include breakpoint($screen-4) {
    height: 1570px;
  }
  &.active {
    height: 100%;
  }
}

.slide-2__item {
  margin-bottom: 35px;

  @include breakpoint($screen-2) {
    margin-bottom: 80px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 100px;
  }
  @include breakpoint($screen-4) {
    margin-bottom: 110px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.slide-2__more {
  display: block;

  width: 120px;
  margin: 0 auto 30px;

  text-align: center;

  @include breakpoint($screen-2) {
    margin-bottom: 47px;
  }
  @include breakpoint($screen-3) {
    width: 150px;
  }
  @include breakpoint($screen-4) {
    margin-bottom: 95px;
  }
  &:hover {
    &:before {
      transform: translate3d(0, -3px, 0);
    }
    &:after {
      transform: translate3d(0, 3px, 0);
    }
  }
  &.active {
    color: $color-8;
    &:before {
      display: block;
    }
    &:after {
      display: none;
    }
  }
  &:before {
    display: none;

    width: 36px;
    height: 14px;
    margin: 0 auto 13px;

    content: '';
    transition: transform .25s;

    background: url('../img/slide-2-less-screen-1.png') 50% 50% no-repeat;

    @include breakpoint($screen-2) {
      margin-bottom: 15px;
    }
  }
  &:after {
    display: block;

    width: 30px;
    height: 11px;
    margin: 13px auto 0;

    content: '';
    transition: transform .25s;

    background: url('../img/slide-2-more-screen-1.png') 50% 50% no-repeat;

    @include breakpoint($screen-2) {
      margin-top: 15px;
    }
  }
}

.slide-2__cta-form {
  @include breakpoint($screen-3) {
    width: 820px;
    margin: 0 auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-2
----------------------------------------------------------------------------------------------------------------------*/
