/*----------------------------------------------------------------------------------------------------------------------
    slide-3
----------------------------------------------------------------------------------------------------------------------*/

.slide-3 {
}

.slide-3__heading {
  margin-bottom: 15px;
  @include breakpoint($screen-2) {
    padding-left: 20px;
    margin-bottom: 44px;
  }
  @include breakpoint($screen-3) {
    padding-left: 0;
    margin-bottom: 80px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 67px;
  }
}

.slide-3__slider {
  margin-bottom: 40px;
  @include breakpoint($screen-2) {
    margin-bottom: 53px;
  }
}

.slide-3__cta-form {
  @include breakpoint($screen-3) {
    width: 720px;
    margin: 0 auto;
  }
}

/*----------------------------------------------------------------------------------------------------------------------
    /slide-3
----------------------------------------------------------------------------------------------------------------------*/
