/*----------------------------------------------------------------------------------------------------------------------
    slide-6
----------------------------------------------------------------------------------------------------------------------*/
.slide-6 {
}

.slide-6__heading {
  text-align: center;

  @include breakpoint($screen-2) {
    margin-bottom: 50px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 65px;
  }
  @include breakpoint($screen-4) {
    margin-bottom: 80px;
  }
}

.slide-6__container {
  @include breakpoint($screen-2) {
    text-align: center;

    font-size: 0;
  }
}

.slide-6__item {
  margin-bottom: 32px;

  @include breakpoint($screen-2) {
    display: inline-block;

    margin-right: 35px;
    margin-bottom: auto;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    margin-right: 85px;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      margin-right: auto;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-6
----------------------------------------------------------------------------------------------------------------------*/
