/*----------------------------------------------------------------------------------------------------------------------
    slide-4
----------------------------------------------------------------------------------------------------------------------*/
.slide-4 {
}

.slide-4__heading {
  @include breakpoint($screen-2) {
    text-align: center;
  }
}

.slide-4__container {
}

.slide-4__item {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 60px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 80px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-4
----------------------------------------------------------------------------------------------------------------------*/
