/*----------------------------------------------------------------------------------------------------------------------
    slide-1
----------------------------------------------------------------------------------------------------------------------*/
.slide-1 {
  background-image: url('../img/slide-1-bg-screen-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @include breakpoint($screen-1 + 1px) {
    background-image: url('../img/slide-1-bg-screen-2.jpg');
  }
  @include breakpoint($screen-2 + 1px) {
    background-image: url('../img/slide-1-bg-screen-3.jpg');
  }
  @include breakpoint($screen-3 + 1px) {
    background-image: url('../img/slide-1-bg-screen-4.jpg');
  }
  @include breakpoint($screen-4) {
    padding: 100px 0 75px;
  }
  & > .container {
    @include breakpoint($screen-4) {
      padding: 0 10px;
    }
  }
}

.slide-1_steps {
  padding-bottom: 190px;

  background-position: 50% 80%;

  @include breakpoint($screen-2) {
    padding-bottom: 160px;
  }
}

.slide-1_background_2 {
  background-image: url('../img/slide-1-bg-2-screen-1.jpg');

  @include breakpoint($screen-1 + 1px) {
    background-image: url('../img/slide-1-bg-2-screen-2.jpg');
  }
  @include breakpoint($screen-2 + 1px) {
    background-image: url('../img/slide-1-bg-2-screen-3.jpg');
  }
  @include breakpoint($screen-2 768px) {
    background-image: url('../img/slide-1-bg-2-screen-2.jpg');
  }
  @include breakpoint($screen-3 + 1px) {
    background-image: url('../img/slide-1-bg-2-screen-4.jpg');
  }
  @include breakpoint($screen-3 1024px) {
    background-image: url('../img/slide-1-bg-2-screen-3.jpg');
  }
  @include breakpoint($screen-4) {
    padding: 100px 0 75px;
  }
}

.slide-1__heading {
  margin-bottom: 45px;

  @include breakpoint($screen-2) {
    margin-bottom: 105px;
  }
  @include breakpoint($screen-3) {
    width: 860px;
    margin-bottom: 70px;
  }
  @include breakpoint($screen-4) {
    margin-bottom: 130px;
  }
  .slide-1_steps & {
    width: 280px;
    margin: 0 auto 30px;

    @include breakpoint($screen-2) {
      width: 660px;
      margin-bottom: 44px;
    }
    @include breakpoint($screen-3) {
      width: 860px;
    }
  }
}

.slide-1__h {
  display: block;

  text-align: center;

  font-family: $font-2;
  font-size: 20px;
  font-weight: 900;

  @include breakpoint($screen-2) {
    font-size: 38px;
  }
  @include breakpoint($screen-3) {
    font-size: 42px;
  }
}

.slide-1__navs {
  margin-bottom: 30px;

  text-align: center;

  font-size: 0;

  @include breakpoint($screen-2) {
    margin-bottom: 45px;
  }
}

.slide-1__nav {
  display: inline-block;

  margin-right: 20px;

  vertical-align: middle;

  @include breakpoint($screen-2) {
    margin-right: 52px;
  }
  &:last-child {
    margin-right: auto;
  }
}

.slide-1__form {
  display: block;

  @include breakpoint($screen-3) {
    width: 770px;
  }
}

.slide-1__box {
  text-align: center;
}

.slide-1__tabs {
  display: inline-block;

  width: 260px;
  margin: 0 auto;
  padding: 35px;

  text-align: left;

  background-color: rgba(#fff, .75);

  @include breakpoint($screen-2) {
    width: auto;
    padding-bottom: 15px;
  }
  @include breakpoint($screen-3) {
    padding-bottom: 0;
  }
}

.slide-1__tab {
  display: none;
  &.active {
    display: block;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-1
----------------------------------------------------------------------------------------------------------------------*/
