footer.footer.section.section_background_grey
  .container
    .footer__container
      .footer__item.footer__item_7
        span.footer__copyright © 2016#[span.footer__copyright-br]«Агентство выкупа недвижимости»
      .footer__item.footer__item_1
        span.footer__text Создание сайта - #[a(href='http://amisunov.ru/', target='_blank') amisunov.ru]
      .footer__item.footer__item_2
        span.footer__text #[a(href='mailto:mail@asvikup.ru') mail@asvikup.ru]
      .footer__item.footer__item_3
        span.footer__text #[a.phone(href='tel:+74955555555') +7 495 555 55 55]
      .footer__item.footer__item_4
        span.footer__text #[a.js-popup__opener(href='#popup-policy') Политика конфиденциальности]
      .footer__item.footer__item_5
        span.footer__text Москва, ул. Шаболовская, д. 34, стр. 3
      .footer__item.footer__item_6
        span.footer__text Создание сайта - #[a(href='http://amisunov.ru/', target='_blank') amisunov.ru]
      .footer__item.footer__item_8
        span.footer__text #[a(href='mailto:mail@asvikup.ru') mail@asvikup.ru]
      .footer__item.footer__item_9
        span.footer__copyright ©  2016#[span.footer__copyright-br]«Агентство выкупа недвижимости»
      .footer__item.footer__item_10
        span.footer__text #[a.js-popup__opener(href='#popup-policy') Политика конфиденциальности]
    .footer__footer
      span.footer__copyright ©  2016#[span.footer__copyright-br]«АСВыкуп»