header.header.js-fixable
  .container
    .header__item.header__item_i_1
      a.logo(href='./') Агентство Выкупа Недвижимости
    .header__item.header__item_i_2
      a.addr.addr_icon_phone.addr_size_1.addr_mobile_none(href='tel:+88001234567') 8 800 123 45 67
    .header__item.header__item_i_3
      .header__button
        a.button.js-popup__opener(href='#popup-callback-1') Заказать звонок
    .header__item.header__item_i_4
      .menu.js-menu
        if showMenu
          button.menu__button.js-menu__button Меню
          .menu__dropdown.js-menu__dropdown
            .container
              .menu__item.menu__item_i_1
                include ./nav
              .menu__item.menu__item_i_2
                a.button.js-popup__opener(href='#popup-callback-1') Заказать звонок
              .menu__item.menu__item_i_3
                a.addr.addr_icon_phone(href='tel:+88001234567') 8 800 123 45 67
