nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link.js-scroll-to(href='#home', data-rel='#home') Главная
    li.nav__item
      a.nav__link.js-scroll-to(href='#help', data-rel='#help') Наши услуги
    li.nav__item
      a.nav__link.js-scroll-to(href='#portfolio', data-rel='#portfolio') Примеры выкупа
    li.nav__item
      a.nav__link.js-scroll-to(href='#contacts', data-rel='#contacts') Контакты