include ../base/mixins/popup

.popup__hide
  +popup('Заказать звонок', 'Кнопка &quot;Заказать звонок&quot; в шапке', 'submit-form-header')#popup-callback-1
  +popup('Задать вопрос', 'Кнопка &quot;Задать вопрос&quot; на слайде &quot;Наша команда&quot;', 'submit-form-team')#popup-callback-2

  .popup.popup_info#popup-policy
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Политика конфиденциальности
      .popup__text
        p Сайт http://www.asvikup.ru/ уважает ваше право и соблюдает конфиденциальность при заполнении, передачи и хранении ваших конфиденциальных сведений.
        p Размещение заявки на сайте http://www.asvikup.ru/ означает Ваше согласие на обработку данных и дальнейшей передачи ваших контактных данных «АСВыкуп».
        p Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, имущественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.
        p Целью обработки персональных данных является оказание сайтом http://www.asvikup.ru/ информационно-справочных услуг, а также информирование об оказываемых услугах «АСВыкуп».
        p В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде по адресу: info@asvikup.ru

  .popup#popup-thanks
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Спасибо!
      .popup__text Ваша заявка принята.#[br]Наш менеджер перезвонит Вам в ближайшее время

  .popup#popup-error
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Ошибка!
      .popup__text Попробуйте отправить заявку еще раз