/*----------------------------------------------------------------------------------------------------------------------
    Magnific popup styles
----------------------------------------------------------------------------------------------------------------------*/
.mfp-container {
  padding: 0;
}

.mfp-fade.mfp-bg {
  transition: all .3s;

  opacity: 0;
  background-color: #000319;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .88;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  transition: all .15s;
  transform: scale3d(0, 0, 0);

  opacity: 0;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  transform: scale3d(1, 1, 1);

  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  transform: scale3d(0, 0, 0);

  opacity: 0;
}
/*----------------------------------------------------------------------------------------------------------------------
    /Magnific popup styles
----------------------------------------------------------------------------------------------------------------------*/
