html {
  letter-spacing: .03em;

  color: $color-1;

  font: normal 400 13px/1.2 $font-1;

  @include breakpoint($screen-2) {
    font-size: 15px;
    letter-spacing: .025em;
  }
  @include breakpoint($screen-3) {
    font-size: 16px;
    letter-spacing: .03em;
  }
}

body {
  background-color: $color-2;
}

input, button, textarea, select, a {
  outline: none;
}

button, select {
  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-2;
  font-weight: 900;
}

a {
  color: $color-6;
  &:hover {
    text-decoration: none;
  }
}
