/*----------------------------------------------------------------------------------------------------------------------
    Box-sizing reset
----------------------------------------------------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/*----------------------------------------------------------------------------------------------------------------------
    /Box-sizing reset
----------------------------------------------------------------------------------------------------------------------*/
