/*----------------------------------------------------------------------------------------------------------------------
    Layout styles
----------------------------------------------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;

  width: 100%;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include breakpoint($screen-2) {
    width: 720px;
  }
  @include breakpoint($screen-3) {
    width: 980px;
  }
  @include breakpoint($screen-4) {
    width: 1080px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /Layout styles
----------------------------------------------------------------------------------------------------------------------*/
