extends ../base/base

block variables
  <?php require('php/logic.php'); ?>
  -
    var showMenu = true
    var title = 'Выкуп недвижимости - агентство срочного выкупа недвижимости | АСВыкуп'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'АСВыкуп - агентство выкупа недвижимости. Срочно выкупим недвижимость за свои деньги по максимально возможной цене.';
    var keywords = 'выкуп недвижимости срочно агентство квартира дом дача земля участок';
    var openGraphUrl = 'http://asvikup.ru/';
    var openGraphImg = 'assets/img/og.jpg';

block head-scripts
  | <!-- Google Analytics Content Experiment code -->
  | <script>function utmx_section(){}function utmx(){}(function(){var
  | k='132550361-0',d=document,l=d.location,c=d.cookie;
  | if(l.search.indexOf('utm_expid='+k)>0)return;
  | function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  | indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  | length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  | '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  | '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  | '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  | valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  | '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  | </script><script>utmx('url','A/B');</script>
  | <!-- End of Google Analytics Content Experiment code -->

block body
  main
    .header__holder
      include ../blocks/header
    .js-menu__hide
      #home
      include ../blocks/slides/slide-1
      #help.js-fixable__open
      include ../blocks/slides/slide-2
      #portfolio
      include ../blocks/slides/slide-3
      include ../blocks/slides/slide-4
      include ../blocks/slides/slide-5
      #contacts
      include ../blocks/slides/slide-6
      include ../blocks/slides/slide-7
      include ../blocks/footer
      include ../blocks/popups