extends ../base/base

block variables
  <?php require('php/logic.php'); ?>
  -
    var title = 'Выкуп недвижимости - агентство срочного выкупа недвижимости | АСВыкуп'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'АСВыкуп - агентство выкупа недвижимости. Срочно выкупим недвижимость за свои деньги по максимально возможной цене.';
    var keywords = 'выкуп недвижимости срочно агентство квартира дом дача земля участок';
    var openGraphUrl = 'http://asvikup.ru/';
    var openGraphImg = 'assets/img/og.jpg';

block body
  main
    .header__holder
      include ../blocks/header
    .js-menu__hide
      include ../blocks/slides/slide-1-single
      include ../blocks/footer
        include ../blocks/popups