extends ../base/base
include ../base/mixins/cta-form
include ../base/mixins/object-card
include ../base/mixins/photo-list-card
include ../base/mixins/employee-card
include ../base/mixins/social
include ../base/mixins/popup

block variables
  -
    var title = 'UI Kit'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'UI Kit';
    var keywords = 'UI Kit';

block body
  main.uikit
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Заголовки
        .uikit__comments
          span Обычный заголовок
        .uikit__example
          .heading
            span.heading__h Чем мы можем вам помочь
            span.heading__subh что входит в наши услуги
        .uikit__comments
          span Различные размеры
        .uikit__example
          .heading.heading_size_1
            span.heading__h Срочно выкупим недвижимость по максимально возможной цене за свои деньги
        .uikit__example
          .heading.heading_size_2
            span.heading__h Заинтересовались?
            span.heading__subh Введите Ваш номер телефона и имя, мы перезвоним и расскажем детали
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Кнопки
        .uikit__comments
          span Обычная кнопка
        .uikit__example
          a.button(href='#777') Отправить
          button.button Отправить
        .uikit__comments
          span Размер
        .uikit__example
          a.button.button_size_1(href='#777') Отправить
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Инпуты
        .uikit__comments
          span Обычный инпуты
        .uikit__example
          input.input(placeholder='Адрес (Город, улица)')
          input.input.error(placeholder='Адрес (Город, улица)')
        .uikit__comments
          span Цвета фона
        .uikit__example
          input.input.input_background_grey(placeholder='Адрес (Город, улица)')
        .uikit__comments
          span Без тени
        .uikit__example
          input.input.input_shadow_none(placeholder='Адрес (Город, улица)')
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Селект
        .uikit__comments
          span Обычный селект
        .uikit__example
          select.select
            option(disabled='' selected='') Выберите тип недвижимости
            option(value='Дом') Дом
            option(value='Дача') Дача
            option(value='Квартира') Квартира
          select.select.error
            option(disabled='' selected='') Выберите тип недвижимости
            option(value='Дом') Дом
            option(value='Дача') Дача
            option(value='Квартира') Квартира
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Социконки
        .uikit__comments
          span Обычные социконки
        .uikit__example
          +social({
            instagram: '#777',
            vkontakte: '#777',
            faceBook: '#777'
          })
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Табы
        .uikit__comments
          span Обычные табы
        .uikit__example
          a.tab(href='#777') 3 шаг
          a.tab.active(href='#777') 3 шаг
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Форма
        .uikit__comments
          span Обычная форма
        .uikit__example
          +cta-form('', false)
            span.cta-form__heading Оставьте заявку на бесплатную консультацию эксперта
        .uikit__comments
          span Варианты
        .uikit__example
          +cta-form('', true, 'input_shadow_none input_background_grey').cta-form_variant_1
            .heading.heading_size_2
              span.heading__h Заинтересовались?
              span.heading__subh Введите Ваш номер телефона и имя, мы перезвоним и расскажем детали
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Слайды
        .uikit__comments
          span Слайд
        .uikit__example
          +object-card('3 комнатная квартира на 3м этаже. г.Москва, ул.Братеевская, д.8, корп. 4', 4, 'assets/img/reviews/1/author-1.jpg', 'Шипунова Лариса',
          [
            {
              name: 'Фото 1',
              src: 'assets/img/reviews/1/photo-1.jpg',
              thumbnail: 'assets/img/reviews/1/photo-thumbnail-1.jpg'
            },
            {
              name: 'Фото 2',
              src: 'assets/img/reviews/1/photo-2.jpg',
              thumbnail: 'assets/img/reviews/1/photo-thumbnail-2.jpg'
            },
            {
              name: 'Фото 3',
              src: 'assets/img/reviews/1/photo-3.jpg',
              thumbnail: 'assets/img/reviews/1/photo-thumbnail-3.jpg'
            }
          ])
            p Нам с сестрой досталась квартира по наследству от отца. Мы обратились в компанию АСвыкуп, предоставили пакет документов на недвижимость, согласовали цену. Через 3 дня получили деньги и разделили между собой. Здорово!

    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Слайдер
        .uikit__comments
          span Слайдер
        .uikit__example
          .slider.js-slider
            .slider__list.js-slider__list
              .slider__slide
                +object-card('1) 3 комнатная квартира на 3м этаже. г.Москва, ул.Братеевская, д.8, корп. 4', 4, 'assets/img/reviews/1/author-1.jpg', 'Шипунова Лариса',
                [
                  {
                    name: 'Фото 1',
                    src: 'assets/img/reviews/1/photo-1.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-1.jpg'
                  },
                  {
                    name: 'Фото 2',
                    src: 'assets/img/reviews/1/photo-2.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-2.jpg'
                  },
                  {
                    name: 'Фото 3',
                    src: 'assets/img/reviews/1/photo-3.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-3.jpg'
                  }
                ])
                  p Нам с сестрой досталась квартира по наследству от отца. Мы обратились в компанию АСвыкуп, предоставили пакет документов на недвижимость, согласовали цену. Через 3 дня получили деньги и разделили между собой. Здорово!
              .slider__slide
                +object-card('2) 3 комнатная квартира на 3м этаже. г.Москва, ул.Братеевская, д.8, корп. 4', 4, 'assets/img/reviews/1/author-1.jpg', 'Шипунова Лариса',
                [
                  {
                    name: 'Фото 1',
                    src: 'assets/img/reviews/1/photo-1.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-1.jpg'
                  },
                  {
                    name: 'Фото 2',
                    src: 'assets/img/reviews/1/photo-2.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-2.jpg'
                  },
                  {
                    name: 'Фото 3',
                    src: 'assets/img/reviews/1/photo-3.jpg',
                    thumbnail: 'assets/img/reviews/1/photo-thumbnail-3.jpg'
                  }
                ])
                  p Нам с сестрой досталась квартира по наследству от отца. Мы обратились в компанию АСвыкуп, предоставили пакет документов на недвижимость, согласовали цену. Через 3 дня получили деньги и разделили между собой. Здорово!
            .slider__navs.js-slider__navs
              span.slider__nav.slider__nav_prev.js-slider__nav_prev Предыдущий
              span.slider__nav.slider__nav_next.js-slider__nav_next Следующий
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка с фото и списком
        .uikit__comments
          span Карточка с фото и списком
        .uikit__example
          +photo-list-card('день 1', 'assets/img/photo-list-card-1.jpg')
            ul
              li Вы оставляете заявку
              li Мы сообщаем предварительное решение в течение 1 часа
              li Оценщик проверяет документы и оценивает Вашу недвижимость
              li Подписываем с Вами предварительный договор у нас в офисе или у нотариуса и передаем аванс за недвижимость
              li Закладываем в Вашем присутствии деньги в банковскую ячейку или переводим на депозит нотариуса
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка работника
        .uikit__comments
          span Карточка работника
        .uikit__example
          +employee-card('Андрей Николаев', 'Директор', 'assets/img/employees/employee-1.jpg', {
            instagram: '#777',
            vkontakte: '#777',
            faceBook: '#777'
          }, '#777')
            p Работает в области оценки с 1587 года, за время работы оценил 16 объектов, чем помог клиентам сэкономить до 77% денег
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Попап
        .uikit__comments
          span Попап
        .uikit__example
          +popup('Заказать звонок', 'Попап в шапке')