/*-----------------------------------------------------------------------------
    Input placeholder
-----------------------------------------------------------------------------*/
@mixin input-placeholder {
  // TODO: починить
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

/*-----------------------------------------------------------------------------
    /Input placeholder
-----------------------------------------------------------------------------*/
