block variables

doctype html
html.no-js(lang='ru')
  head
    block head-scripts
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title #{title}
    meta(content!=author name="author")
    meta(content!=description name="description")
    meta(content!=keywords name="keywords")

    // Open Graph
    meta(property='og:title', content=title)
    meta(property='og:site_name', content=title)
    meta(property='og:url', content=openGraphUrl)
    meta(property='og:description', content=description)
    meta(property='og:type', content='product')
    meta(property='og:image', content=openGraphImg)

    // Twitter Card
    meta(name='twitter:card', content='product')
    meta(name='twitter:site', content=openGraphUrl)
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=description)
    meta(name='twitter:image', content=openGraphImg)


    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='assets/img/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='assets/img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='assets/img/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='manifest.json')
    link(rel='mask-icon', href='assets/img/safari-pinned-tab.svg')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    meta(name='msapplication-config', content='browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

    //- Styles
    link(rel='stylesheet' href='assets/css/foundation.css', inline)
    link(rel='stylesheet' href='assets/css/app.css', inline)

    //- Scripts
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript', defer)
    script(src='assets/js/foundation.js', type='text/javascript', defer)
    script(src='assets/js/app.js', type='text/javascript', defer)

    <!--[if lt IE 9]>
    script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->
  body
    <!--[if lt IE 9]>
    p.browserupgrade Вы используете #[strong устаревший] браузер. Пожалуйста #[a(href='http://browsehappy.com/') обновите свой браузер].
    <![endif]-->
    .wrapper
      block body
    // Счетчики
    | <script>
    |   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    |   ga('create', 'UA-86550933-1', 'auto');
    |   ga('send', 'pageview');
    | </script>
    | <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40566755 = new Ya.Metrika({ id:40566755, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <!-- /Yandex.Metrika counter -->