.slide-7
  .slide-7__map.draggable#map
  .container
    .slide-7__form
      +cta-form('Карта &quot;Остались вопросы?&quot;', true, 'input_shadow_none input_background_grey', 'submit-form-questions').cta-form_variant_1.cta-form_hint
        .heading.heading_size_2
          span.heading__h Остались вопросы?
          span.heading__subh Мы всегда на связи. Запросите обратный звонок