include ../../base/mixins/cta-form

.slide-1.slide-1_background_2.section
  .container
    .slide-1__heading.section__heading
      .heading.heading_size_1
        span.heading__h Срочно выкупим недвижимость #[small (жилая, коммерческая и земельные участки)] по максимально возможной цене за свои деньги
        .heading__text
          ul
            li Предварительное решение через 1 час
            li Передача денег через банковскую ячейку, банковский или нотариальный депозит
            li Решим любые вопросы с банками, кредиторами, приставами
            li Все долги и расходы берем на себя
            li Выкупаем недвижимость со сложными ситуациями (арест, залог, споры, банкротство) и в любом состоянии
    .slide-1__form
          +cta-form('Первый слайд &quot;Оставьте заявку на бесплатную консультацию эксперта&quot;', false, '', 'submit-form-offer')
            span.cta-form__heading Оставьте заявку на бесплатную консультацию эксперта