include ../../base/mixins/icon-side-card
include ../../base/mixins/cta-form

.slide-2.section.js-more__container
  .container
    .slide-2__heading.section__heading
      .heading
        span.heading__h Чем мы можем вам помочь
        span.heading__subh что входит в наши услуги
    .slide-2__container.slide-2__container_height_1#help-container
      .slide-2__item
        +icon-side-card('1', 'Предварительное решение за 1 час').icon-side-card_side_left.icon-side-card_icon_1 Для оперативного получения решения о выкупе Вы сообщаете нам максимально возможную информацию о недвижимости по телефону. Наш оценщик проводит анализ и сравнение с аналогами и сообщает Вам предварительную цену выкупа.
      .slide-2__item
        +icon-side-card('2', 'Передача денег через банковскую ячейку, банковский или нотариальный депозит').icon-side-card_side_right.icon-side-card_icon_2 Для того, чтобы Вы были спокойны за безопасную передачу и сохранность денежных средств мы предлагаем проводить операцию через Банк. Вы участвуете в пересчете и проверке денежных средств и самостоятельно забираете их после проведения сделки.
      .slide-2__item
        +icon-side-card('3', 'Все долги и расходы берем на себя').icon-side-card_side_left.icon-side-card_icon_3 Для экономии Ваших денежных средств мы возьмем расходы на себя:
          ul.icon-side-card__list.icon-side-card__list_display_inline
            li Погашение ипотеки
            li Оплата долгов по ЖКХ
            li Страхование сделки от отмены или оспаривания
            li Госпошлина за регистрацию перехода права собственности
            li Услуги нотариуса за удостоверение сделки по продаже объекта
            li Аренда банковской ячейки для надежного хранения Ваших денежных средств.
      .slide-2__item
        +icon-side-card('4', 'Соберем или восстановим необходимые для сделки документы').icon-side-card_side_right.icon-side-card_icon_4
          | Перечень необходимых документов для продажи объекта недвижимости:
          ul.icon-side-card__list.icon-side-card__list_display_block
            li Паспорт РФ собственника
            li Правоустанавливающий документ-основание
            li Документ, подтверждающий право собственности
            li Кадастровый паспорт на объект недвижимости
            li Дополнительные документы в зависимости от типа объекта.
      .slide-2__item
        +icon-side-card('5', 'Решим вопросы с банками, кредиторами, приставами').icon-side-card_side_left.icon-side-card_icon_5 Проведем от Вашего имени переговоры с кредитным отделом банка, залогодержателем Вашей недвижимости и судебными приставами для снятия ограничений по продаже объекта.
      .slide-2__item
        +icon-side-card('6', 'Сохраним пользование Вами недвижимостью на правах аренды').icon-side-card_side_right.icon-side-card_icon_6 Если Вы желаете не переезжать в другую квартиру, то мы можем заключить с Вами договор аренды. Возможны условия по обратному выкупу недвижимости через 12 месяцев при соблюдении своевременной оплаты арендных платежей.
        #morea
      .slide-2__item
        +icon-side-card('7', 'Проведение сделки через нотариуса').icon-side-card_side_left.icon-side-card_icon_7 Для проведения ускоренной регистрации сделки по купле-продаже Вы можете выбрать любого нотариуса на свое усмотрение.
      .slide-2__item
        +icon-side-card('8', 'Покупаем недвижимость со сложными ситуациями (арест, залог, споры, банкротство) и в любом состоянии').icon-side-card_side_right.icon-side-card_icon_9 Если Ваша недвижимость под арестом, в залоге у кредитора, находится в конкурсной массе процедуры банкротства или в разрушенном состоянии, то мы рассмотрим возможность ее выкупа
      .slide-2__item
        +icon-side-card('9', 'Подберем недвижимость для покупки или аренды').icon-side-card_side_left.icon-side-card_icon_11 Мы избавим Вас от суеты по поводу поиска, проверки подходящего объекта для покупки или аренды и сопроводим сделку.
    a.slide-2__more.js-more__button(href='#help-container', data-show-text='Посмотреть все', data-hide-text='Скрыть', data-scroll='#morea') Посмотреть все
    .slide-2__cta-form
      +cta-form('Второй слайд &quot;Заинтересовались?&quot;', true, 'input_shadow_none input_background_grey', 'submit-form-interested').cta-form_variant_1.cta-form_hint
        .heading.heading_size_2
          span.heading__h Заинтересовались?
          span.heading__subh Введите Ваш номер телефона и имя, мы перезвоним и расскажем детали