include ../../base/mixins/object-card

.slide-3.section.section_background_grey
  .container
    .slide-3__heading.section__heading
      .heading.heading_size_3
        span.heading__h Наши примеры выкупа недвижимости
        span.heading__subh или как мы быстро выдали деньги
    .slide-3__slider
      .slider.js-slider
        .slider__list.js-slider__list
          .slider__slide
            +object-card('1 комнатная квартира 39,4 кв.м на 4м этаже.<br>г. Москва, ул. Сахалинская, д.15/15', 'Выкупили за 3 дня', 'assets/img/reviews/3/author-1.jpg', 'Степанько Ирина Юрьевна',
            [
              {
                name: 'Фото 1',
                src: 'assets/img/reviews/3/photo-1.jpg',
                thumbnail: 'assets/img/reviews/3/photo-thumbnail-1.jpg'
              },
              {
                name: 'Фото 2',
                src: 'assets/img/reviews/3/photo-2.jpg',
                thumbnail: 'assets/img/reviews/3/photo-thumbnail-2.jpg'
              },
              {
                name: 'Фото 3',
                src: 'assets/img/reviews/3/photo-3.jpg',
                thumbnail: 'assets/img/reviews/3/photo-thumbnail-3.jpg'
              }
            ])
              p Мы давно хотели переехать, долго искали варианты, и вдруг, нам подвернулась отличная квартира на 1,5 млн ниже аналогов в этом доме. Тем продавцам нужны были срочно деньги. Оценщик компании АСВыкуп в тот же день приехал, проверил нашу квартиру, передали аванс. В тот же день мы передали аванс за свою новую квартиру. На следующий день мы вышли на сделку. Оплату получили через 3 дня
          .slider__slide
            +object-card('2х комнатная квартира 53,6 кв.м. на 2м этаже.<br>г. Москва, ул.Скобелевская, д.21', 'Выдали деньги за 1 день', 'assets/img/reviews/4/author-1.jpg', 'Кристец Фёдор Глебович',
            [
              {
                name: 'Фото 1',
                src: 'assets/img/reviews/4/photo-1.jpg',
                thumbnail: 'assets/img/reviews/4/photo-thumbnail-1.jpg'
              },
              {
                name: 'Фото 2',
                src: 'assets/img/reviews/4/photo-2.jpg',
                thumbnail: 'assets/img/reviews/4/photo-thumbnail-2.jpg'
              },
              {
                name: 'Фото 3',
                src: 'assets/img/reviews/4/photo-3.jpg',
                thumbnail: 'assets/img/reviews/4/photo-thumbnail-3.jpg'
              }
            ])
              p У нас случилось несчастье. Потребовались деньги на операцию. Обращались в несколько компаний по выкупу недвижимости, но т.к. некоторые документы на квартиру были утеряны они отказывались выходить на сделку. Проведя переговоры с компанией АСВыкуп, мы договорились о получении аванса, которого хватило на предоплату за операцию, и о том, что они же будут восстанавливать документы. Мы передали доверенность. После восстановления документов мы вышли на сделку.
          .slider__slide
            +object-card('3х комнатная квартира 72,8 кв.м на 8м этаже.<br>г.Москва, ул. Молодцова, д.9', 'Выкупили за 3 дня', 'assets/img/reviews/2/author-1.jpg', 'Соломатина Нина Павловна',
            [
              {
                name: 'Фото 1',
                src: 'assets/img/reviews/2/photo-1.jpg',
                thumbnail: 'assets/img/reviews/2/photo-thumbnail-1.jpg'
              },
              {
                name: 'Фото 2',
                src: 'assets/img/reviews/2/photo-2.jpg',
                thumbnail: 'assets/img/reviews/2/photo-thumbnail-2.jpg'
              },
              {
                name: 'Фото 3',
                src: 'assets/img/reviews/2/photo-3.jpg',
                thumbnail: 'assets/img/reviews/2/photo-thumbnail-3.jpg'
              }
            ])
              p Мой супруг лишился работы, и мы не смогли выплачивать ипотеку. Каждый день банк звонил и требовал оплаты, начислял пени и штрафы. Мы уже не знали что делать, и как это остановить. Нам знакомые посоветовали обратиться в компанию АСВыкуп. Мы им дали доверенность. Они провели переговоры с банком, закрыли нашу ипотеку. Так же помогли арендовать другое жилье и переехать. Они нас спасли из кабалы! Спасибо! Будем рекомендовать!
          .slider__slide
            +object-card('3х комнатная квартира 74,6 кв.м на 3м этаже.<br>г.Москва, ул.Братеевская, д.8, корп. 4', 'Выкупили за 3 дня', 'assets/img/reviews/1/author-1.jpg', 'Шипунова Лариса',
            [
              {
                name: 'Фото 1',
                src: 'assets/img/reviews/1/photo-1.jpg',
                thumbnail: 'assets/img/reviews/1/photo-thumbnail-1.jpg'
              },
              {
                name: 'Фото 2',
                src: 'assets/img/reviews/1/photo-2.jpg',
                thumbnail: 'assets/img/reviews/1/photo-thumbnail-2.jpg'
              },
              {
                name: 'Фото 3',
                src: 'assets/img/reviews/1/photo-3.jpg',
                thumbnail: 'assets/img/reviews/1/photo-thumbnail-3.jpg'
              }
            ])
              p Нам с сестрой досталась квартира по наследству от отца. Мы обратились в компанию АСвыкуп, предоставили пакет документов на недвижимость, согласовали цену. После регистрации сделки через 3 дня получили деньги и разделили между собой. Очень довольны!
          .slider__slide
            +object-card('Офисное помещение 156,2 кв.м.<br>г. Москва, ул. Ленинская Слобода, 19', 'Выкупили за 14 дней', 'assets/img/reviews/5/author-1.jpg', 'Рассказов Иван Михайлович',
            [
              {
                name: 'Фото 1',
                src: 'assets/img/reviews/5/photo-1.jpg',
                thumbnail: 'assets/img/reviews/5/photo-thumbnail-1.jpg'
              },
              {
                name: 'Фото 2',
                src: 'assets/img/reviews/5/photo-2.jpg',
                thumbnail: 'assets/img/reviews/5/photo-thumbnail-2.jpg'
              },
              {
                name: 'Фото 3',
                src: 'assets/img/reviews/5/photo-3.jpg',
                thumbnail: 'assets/img/reviews/5/photo-thumbnail-3.jpg'
              }
            ])
              p У меня стал разваливаться бизнес. Кредитор на меня подал в суд. Отказывался идти на мировую. Судебный пристав наложил арест, а судебный оценщик оценил мое помещение на 1 миллион меньше, чем размера долга. Компания АСВыкуп провела свою оценку, смогла убедить кредитора получить меньше, чем он хотел изначально. Оплатила долг и сняла арест. Я даже получил не много больше, чем рассчитывал))).
        .slider__navs.js-slider__navs
          span.slider__nav.slider__nav_prev.js-slider__nav_prev Предыдущий
          span.slider__nav.slider__nav_next.js-slider__nav_next Следующий
    .slide-3__cta-form
      +cta-form('Третий слайд &quot;Хотите так же?&quot;', false, '', 'submit-form-want').cta-form_variant_1
        .heading.heading_size_2
          span.heading__h Хотите так же?
          span.heading__subh Оставьте заявку на бесплатную консультацию
