include ../../base/mixins/employee-card

.slide-6.section
  .container
    .slide-6__heading.section__heading
      .heading
        span.heading__h Контакты
    .slide-6__container
      .slide-6__item
        a.addr.addr_variant_2.addr_icon_mail.addr_underline(href='mailto:mail@asvikup.ru') mail@asvikup.ru
      .slide-6__item
        span.addr.addr_variant_2.addr_icon_marker Москва, ул. Шаболовская, д. 34, стр. 3
      .slide-6__item
        a.addr.addr_variant_2.addr_icon_phone2(href='tel:+88001234567') 8 800 123 45 67
