.slide-1.slide-1_steps.slide-1_background_2.section
  .container
    .slide-1__heading.section__heading
      .heading.heading_size_1
        span.heading__h Срочно выкупим недвижимость #[small (жилая, коммерческая и земельные участки)] по максимально возможной цене за свои деньги
    .slide-1__navs
      .slide-1__nav
        .tab.active.js-steps__nav(data-rel='#step-1', data-tab='1') 1 шаг
      .slide-1__nav
        .tab.js-steps__nav(data-rel='#step-2', data-tab='2') 2 шаг
      .slide-1__nav
        .tab.js-steps__nav(data-rel='#step-3', data-tab='3') 3 шаг
    .slide-1__box
      .slide-1__tabs.js-steps
          .slide-1__tab.js-steps__tab.active#step-1
            form.steps-form__form.js-steps__form(data-rel='#step-2')
              input(type='hidden', name='formname', value!='Главная форма с шагами')
              <?php getUTM($utmLabels); ?>
              .steps-form__heading
                span.steps-form__h Введите стоимость Вашей недвижимости
              .steps-form__form
                .steps-form__form-item
                  input.input.input_size_1(type='text', name='cost', placeholder='Стоимость недвижимости')
                .steps-form__form-item.steps-form__form-item_button_1
                  button.button.button_size_2 Далее
          .slide-1__tab.js-steps__tab#step-2
            .steps-form
              .steps-form__heading
                span.steps-form__h Тип недвижимости
              form.steps-form__form.js-steps__form.js-dynamic-form(data-rel='#step-3')
                .steps-form__form-item.steps-form__form-item_2_1
                  select.select.select_size_1.js-dynamic-form__select(name='type')
                    option(disabled='' selected='') Выберите тип недвижимости
                    option(value='Квартира', data-tab='#kvartira') Квартира
                    option(value='Дом', data-tab='#dom') Дом
                    option(value='Коммерческая', data-tab='#kommercheskaya') Коммерческая
                    option(value='Земельный участок', data-tab='#zemelnyy-uchastok') Земельный участок
                .steps-form__tab.js-dynamic-form__tab#kvartira
                  .steps-form__col.steps-form__col_left
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                  .steps-form__col.steps-form__col_right
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='rooms', placeholder='Количество комнат')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                  .steps-form__section
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='rooms', placeholder='Количество комнат')
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                .steps-form__tab.js-dynamic-form__tab#dom
                  .steps-form__col.steps-form__col_left
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь дома, кв.м')
                  .steps-form__col.steps-form__col_right
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='sectorArea', placeholder='Площадь участка')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                  .steps-form__section
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь дома, кв.м')
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='sectorArea', placeholder='Площадь участка')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                .steps-form__tab.js-dynamic-form__tab#kommercheskaya
                  .steps-form__col.steps-form__col_left
                    .steps-form__form-item.steps-form__form-item_2_3
                      select.select.select_size_1(name='destination')
                        option(disabled='' selected='') Назначение
                        option(value='Офис') Офис
                        option(value='Магазин') Магазин
                        option(value='Склад') Склад
                        option(value='Другое') Другое
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                  .steps-form__col.steps-form__col_right
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                  .steps-form__section
                    .steps-form__form-item.steps-form__form-item_2_3
                      select.select.select_size_1(name='destination')
                        option(disabled='' selected='') Назначение
                        option(value='Офис') Офис
                        option(value='Магазин') Магазин
                        option(value='Склад') Склад
                        option(value='Другое') Другое
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                .steps-form__tab.js-dynamic-form__tab#zemelnyy-uchastok
                  .steps-form__col.steps-form__col_left
                    .steps-form__form-item.steps-form__form-item_2_3
                      select.select.select_size_1(name='destination')
                        option(disabled='' selected='') Назначение
                        option(value='С/Х') С/Х
                        option(value='ИЖС') ИЖС
                        option(value='Промышленное') Промышленное
                        option(value='Другое') Другое
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                  .steps-form__col.steps-form__col_right
                    .steps-form__form-item.steps-form__form-item_2_3
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
                  .steps-form__section
                    .steps-form__form-item.steps-form__form-item_2_3
                      select.select.select_size_1(name='destination')
                        option(disabled='' selected='') Назначение
                          option(value='С/Х') С/Х
                          option(value='ИЖС') ИЖС
                          option(value='Промышленное') Промышленное
                          option(value='Другое') Другое
                    .steps-form__form-item.steps-form__form-item_2_4
                      input.input.input_size_1(type='text', name='address', placeholder='Адрес (Город, улица)')
                    .steps-form__form-item.steps-form__form-item_2_2
                      input.input.input_size_1(type='text', name='area', placeholder='Площадь, кв.м')
                    .steps-form__form-item.steps-form__form-item_button_2
                      button.button.button_size_2 Далее
          .slide-1__tab.js-steps__tab#step-3
            .steps-form
              .steps-form__heading
                span.steps-form__h.steps-form__h_1 Введите Ваш номер телефона и узнайте предварительное решение о выкупе в течение 1 часа
              form.steps-form__form.js-steps__form.js-steps__form_last(data-goal='submit-form-steps')
                .steps-form__form-item
                  input.input.input_size_1(type='tel', name='phone', placeholder='Введите номер телефона')
                .steps-form__form-item.steps-form__form-item_button_3
                  button.button.button_size_2 Отправить