include ../../base/mixins/photo-list-card

.slide-4.section
  .container
    .slide-4__heading.section__heading
      .heading
        span.heading__h Как мы работаем
    .slide-4__container
      .slide-4__item
        +photo-list-card('день 1', 'assets/img/photo-list-card-1.jpg').photo-list-card_border_1
          ol
            li Вы оставляете заявку на выкуп
            li Мы сообщаем предварительное решение в течение 1 часа
            li Оценщик проверяет документы и оценивает Вашу недвижимость
            li Подписываем с Вами предварительный договор купли-продажи  и передаем аванс.
            li Закладываем в Вашем присутствии деньги в банковскую ячейку или переводим на депозит нотариуса
      .slide-4__item
        +photo-list-card('день 2-5', 'assets/img/photo-list-card-2.jpg').photo-list-card_border_2
          ol(start='6')
            li Росреестр регистрирует сделку через 3 дня
            li После регистрации Вы получаете деньги