include ../../base/mixins/employee-card

.slide-5.section.section_background_grey
  .container
    .slide-5__heading.section__heading
      .heading.heading_size_3
        span.heading__h Наша команда
        span.heading__subh Люди – это и есть компания. Знакомьтесь с нами!
    .slide-5__container
      .slide-5__item
        +employee-card('Андрей Николаев', 'Директор', 'assets/img/employees/employee-1.jpg', {
            vkontakte: 'https://vk.com/andreyinvest',
            faceBook: 'https://www.facebook.com/profile.php?id=100006515750223'
          }, '#popup-callback-2')
            p Владелец нескольких бизнесов, инвестор, участник “Клуба миллионеров”, участник Бизнес клуба “Golden Ярд” и “Бизнес Фэмили”
      .slide-5__item
        +employee-card('Сания Галиева', 'Риелтор - Оценщик', 'assets/img/employees/employee-3.jpg')
          p Риелтор-оценщик с 2005 года. Эксперт по жилой, коммерческой недвижимости и земельным участкам. Опыт работы в крупном агентстве недвижимости, налоговых органах. Юрист с судебной практикой.
      .slide-5__item
        +employee-card('Ирина Мещерякова', 'Риелтор - Оценщик', 'assets/img/employees/employee-2.jpg')
            p Опыт с 2001 года. Эксперт в жилой недвижимости.
      .slide-5__item
        +employee-card('Сергей Сорокин', 'Риелтор - Оценщик', 'assets/img/employees/employee-4.jpg')
            p Опыт с 2007 года. Эксперт в оценке земельных участков.
      .slide-5__item
        +employee-card('Елена Гришина', 'Юрист', 'assets/img/employees/employee-5.jpg')
            p Опыт с 2005 года. Юридическая проверка документов. Разработка индивидуальных схем передачи денежных средств.
      .slide-5__item
        +employee-card('Анна Чугунова', 'Менедежер', 'assets/img/employees/employee-6.jpg')
            p Проводит телефонные переговоры и встречи с клиентами.