include ../../base/mixins/cta-form

.slide-1.section
  .container
    .slide-1__heading.section__heading
      .heading.heading_size_1
        span.heading__h Срочно выкупим недвижимость #[small (жилая, коммерческая и земельные участки)] по максимально возможной цене за свои деньги
    .slide-1__form
      +cta-form('Первый слайд &quot;Оставьте заявку на бесплатную консультацию эксперта&quot;', false, '', 'submit-form-offer')
        span.cta-form__heading Оставьте заявку на бесплатную консультацию эксперта